@include font-face(ProximaNovaLight, '../fonts/ProximaNovaLight');
@include font-face(AvenirLTStdBook, '../fonts/AvenirLTStdBook');


AvenirLTStdBook


html, body {
  margin: 0;
  padding: 0;
}

body {
  background: $light-grey;
  // for Firefox
  // overflow: hidden;
}

p {
  margin: 0;
  font-family: 'ProximaNovaLight', sans-serif;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
