html, body {
  margin: 0;
  padding: 0;
}

body {
  background: $peter-river;
  // for Firefox
  // overflow: hidden;
}

p { margin: 0 }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5% 0;
}
