.item-1 {
  background: url('../images/kevin-temp.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.item-2 {
  h1 {
    margin: 5px 0;
    letter-spacing: 1px;
 }
  p { margin: 0 }
}
